<h3 class="page-header"><?= $this->translate('Edit Menu') ?></h3>
<div class="row">
    <div class="col-lg-4 col-md-9">
        <?= $this->partial('menu-manager/admin/menu/partial/form') ?>
    </div>
</div>