<h3 class="page-header"><?= $this->translate('Menus'); ?></h3>
<p>
    <a class="btn btn-secondary" href="<?= $this->url('admin-menus/create'); ?>"><?= $this->translate('Create Menu'); ?></a>
</p>
<?php if (count($menus)): ?>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th><?= $this->translate('Name'); ?></th>
            <th><?= $this->translate('Identifier'); ?></th>
            <th><?= $this->translate('Action'); ?></th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($menus as $menu): ?>
            <tr>
                <td><?= $menu->getId() ?></td>
                <td><a href="<?= $this->url('admin-menus/items', ['menuId' => $menu->getId()]) ?>"><?= $menu->getName() ?></a></td>
                <td><?= $menu->getIdentifier() ?></td>
                <td class="text-right">
                    <div class="btn-group btn-group-sm">
                        <a href="<?= $this->url('admin-menus/edit', ['id' => $menu->getId()]); ?>" title="<?= $this->translate('Edit'); ?>" class="btn btn-secondary">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a href="<?= $this->url('admin-menus/delete', ['id' => $menu->getId()]); ?>" class="btn btn-danger" title="<?= $this->translate('Delete'); ?>" onclick="return confirm('Are you sure?')">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </div>
                </td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
<?php else: ?>
    <div class="alert alert-info"><?= $this->translate('Nothing Found'); ?></div>
<?php endif; ?>