<h3 class="page-header"><?= $this->translate('Menu Items'); ?></h3>
<p>
    <a class="btn btn-secondary" href="<?= $this->url('admin-menus/items/create', ['menuId' => $menuId]); ?>"><?= $this->translate('Create Menu Item'); ?></a>
</p>
<?php if (count($menuItems)): ?>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th><?= $this->translate('Title'); ?></th>
            <th><?= $this->translate('Path'); ?></th>
            <th><?= $this->translate('Route'); ?></th>
            <th><?= $this->translate('Action'); ?></th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($menuItems as $menuItem): ?>
            <tr>
                <td><?= $menuItem->getId() ?></td>
                <td><?= $menuItem->getTitle() ?></td>
                <td><?= $menuItem->getPath() ?></td>
                <td><?= $menuItem->getRoute() ?></td>
                <td class="text-right">
                    <div class="btn-group btn-group-sm">
                        <a href="<?= $this->url('admin-menus/items/edit', ['menuId' => $menuId, 'id' => $menuItem->getId()]); ?>" title="<?= $this->translate('Edit'); ?>" class="btn btn-secondary">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a href="<?= $this->url('admin-menus/items/delete', ['menuId' => $menuId, 'id' => $menuItem->getId()]); ?>" class="btn btn-danger" title="<?= $this->translate('Delete'); ?>" onclick="return confirm('Are you sure?')">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </div>
                </td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
<?php else: ?>
    <div class="alert alert-info"><?= $this->translate('Nothing Found'); ?></div>
<?php endif; ?>