<?= $this->doctype() ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?= $this->headTitle('')->setSeparator(' - ')->setAutoEscape(false) ?>

        <?= $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <?= $this->headLink()->prependStylesheet($this->basePath('css/bootstrap.min.css'))
            ->appendStylesheet($this->basePath('css/font-awesome.min.css'))
            ->appendStylesheet($this->basePath('css/dashboard.css'))
        ?>
    </head>
    <body>
        <div class="wrap">
            <nav class="navbar navbar-dark navbar-expand-lg bg-dark fixed-top">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"><?= $this->identity()->getEmail() ?></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">My Account</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="<?= $this->url('admin-logout') ?>">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container-fluid">
                <?= $this->partial('layout/admin/partial/flash-messages') ?>
                <?= $this->content ?>
            </div>
        </div>

    <?= $this->inlineScript()
        ->appendFile($this->basePath('/js/jquery-3.2.1.min.js'))
        ->appendFile($this->basePath('/js/popper.min.js'))
        ->appendFile($this->basePath('/js/bootstrap.min.js'))
    ?>
    </body>
</html>
