<?php  if ($this->pageCount): ?>
    <ul class="pagination">
        <!-- First page link -->
        <?php if (isset($this->previous)): ?>
            <li class="page-item"><a class="page-link" href="<?= $this->url($this->route, ['page' => $this->first]); ?>"><?= $this->translate('First'); ?></a></li>
        <?php else: ?>
            <li class="page-item disabled"><span class="page-link"><?= $this->translate('First'); ?></span></li>
        <?php endif; ?>

        <!-- Previous page link -->
        <?php if (isset($this->previous)): ?>
            <li class="page-item"><a class="page-link" href="<?= $this->url($this->route, ['page' => $this->previous]); ?>"><?= $this->translate('Previous'); ?></a></li>
        <?php else: ?>
            <li class="page-item disabled"><span class="page-link"><?= $this->translate('Previous'); ?></span></li>
        <?php endif; ?>

        <!-- Numbered page links -->
        <?php foreach ($this->pagesInRange as $page): ?>
            <?php if ($page != $this->current): ?>
                <li class="page-item"><a class="page-link" href="<?= $this->url($this->route, ['page' => $page]); ?>"><?= $page; ?></a></li>
            <?php else: ?>
                <li class="page-item active"><span class="page-link"><?= $page; ?></span></li>
            <?php endif; ?>
        <?php endforeach; ?>

        <!-- Next page link -->
        <?php if (isset($this->next)): ?>
            <li class="page-item"><a class="page-link" href="<?= $this->url($this->route, ['page' => $this->next]); ?>"><?= $this->translate('Next'); ?></a></li>
        <?php else: ?>
            <li class="page-item disabled"><span class="page-link"><?= $this->translate('Next'); ?></span></li>
        <?php endif; ?>

        <!-- Last page link -->
        <?php if (isset($this->next)): ?>
            <li class="page-item"><a class="page-link" href="<?= $this->url($this->route, ['page' => $this->last]); ?>"><?= $this->translate('Last'); ?></a></li>
        <?php else: ?>
            <li class="page-item disabled"><span class="page-link"><?= $this->translate('Last'); ?></span></li>
        <?php endif; ?>
    </ul>
<?php endif; ?>