<div class="container mt-4">
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <div class="page-header h3"><?= $this->translate('Sign In') ?></div>
            <?php if (isset($error)): ?>
                <p class="text-danger"><?= $this->translate($error) ?></p>
            <?php endif ?>
            <?php
            $form->prepare();

            $invalidInputs = $form->getInputFilter()->getInvalidInput();
            ?>

            <?= $this->form()->openTag($form); ?>

                <div class="form-group">
                    <?php
                    $emailInput = $form->get('email');
                    $emailInput->setAttribute('class', 'form-control' . (isset($invalidInputs['email']) ? ' is-invalid' : ''));
                    ?>

                    <?= $this->formLabel($emailInput) ?>
                    <?= $this->formElement($emailInput) ?>
                    <?= $this->formElementErrors($emailInput) ?>
                </div>

                <div class="form-group">
                    <?php
                    $passwordInput = $form->get('password');
                    $passwordInput->setAttribute('class', 'form-control' . (isset($invalidInputs['password']) ? ' is-invalid' : ''));
                    ?>

                    <?= $this->formLabel($passwordInput) ?>
                    <?= $this->formElement($passwordInput) ?>
                    <?= $this->formElementErrors($passwordInput) ?>
                </div>

                <div class="form-group">
                    <?php
                    $submit = $form->get('submit');
                    $submit->setAttribute('class', 'btn btn-primary');
                    ?>

                    <?= $this->formElement($submit) ?>
                </div>

            <?= $this->form()->closeTag(); ?>
        </div>
    </div>
</div>
