<?php
$form->prepare();

$invalidInputs = $form->getInputFilter()->getInvalidInput();
?>

<?= $this->form()->openTag($form); ?>
    <div class="form-group">
        <?php
        $nameInput = $form->get('name');
        $nameInput->setAttribute('class', 'form-control' . (isset($invalidInputs['name']) ? ' is-invalid' : ''));
        ?>

        <?= $this->formLabel($nameInput) ?>
        <?= $this->formElement($nameInput) ?>
        <?= $this->formElementErrors($nameInput) ?>
    </div>

    <div class="form-group">
        <?php
        $emailInput = $form->get('email');
        $emailInput->setAttribute('class', 'form-control' . (isset($invalidInputs['email']) ? ' is-invalid' : ''));
        ?>

        <?= $this->formLabel($emailInput) ?>
        <?= $this->formElement($emailInput) ?>
        <?= $this->formElementErrors($emailInput) ?>
    </div>

    <div class="form-group">
        <?php
        $passwordInput = $form->get('password');
        $passwordInput->setAttribute('class', 'form-control' . (isset($invalidInputs['password']) ? ' is-invalid' : ''));
        ?>

        <?= $this->formLabel($passwordInput) ?>
        <?= $this->formElement($passwordInput) ?>
        <?= $this->formElementErrors($passwordInput) ?>
    </div>

    <div class="form-group">
        <?php
        $passwordConfirmationInput = $form->get('password_confirmation');
        $passwordConfirmationInput->setAttribute('class', 'form-control' . (isset($invalidInputs['password_confirmation']) ? ' is-invalid' : ''));
        ?>

        <?= $this->formLabel($passwordConfirmationInput) ?>
        <?= $this->formElement($passwordConfirmationInput) ?>
        <?= $this->formElementErrors($passwordConfirmationInput) ?>
    </div>

    <?= $this->formElement($form->get('id')) ?>

    <div class="form-group">
        <?php
        $submit = $form->get('submit');
        $submit->setAttribute('class', 'btn btn-primary');
        ?>

        <?= $this->formElement($submit) ?>
    </div>
<?= $this->form()->closeTag(); ?>
