<h3 class="page-header"><?= $this->translate('Create User') ?></h3>
<div class="row">
    <div class="col-lg-4 col-md-9">
        <?= $this->partial('users/admin/user/partial/form') ?>
    </div>
</div>