<h3 class="page-header"><?= $this->translate('Users'); ?></h3>
<p>
    <a class="btn btn-secondary" href="<?= $this->url('admin-users/create'); ?>"><?= $this->translate('Create User'); ?></a>
</p>
<?php if (count($users)): ?>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th><?= $this->translate('Name'); ?></th>
            <th><?= $this->translate('Email'); ?></th>
            <th><?= $this->translate('Created At'); ?></th>
            <th><?= $this->translate('Action'); ?></th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($users as $user): ?>
            <tr>
                <td><?= $user->getId() ?></td>
                <td><?= $user->getName() ?></td>
                <td><?= $user->getEmail() ?></td>
                <td><?= $user->getCreated()->format('d.m.Y H:i') ?></td>
                <td class="text-right">
                    <div class="btn-group btn-group-sm">
                        <a href="<?= $this->url('admin-users/edit', ['id' => $user->getId()]); ?>" title="<?= $this->translate('Edit'); ?>" class="btn btn-secondary">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <?php if ($user->getId() != $this->identity()->getId()): ?>
                            <a href="<?= $this->url('admin-users/delete', ['id' => $user->getId()]); ?>" class="btn btn-danger" title="<?= $this->translate('Delete'); ?>" onclick="return confirm('Are you sure?')">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        <?php endif; ?>
                    </div>
                </td>
            </tr>
        <?php endforeach; ?>
    </tbody>
</table>
<nav class="float-right">
    <?= $this->paginationControl($users,
        'Sliding',
        'layout/admin/partial/pagination', ['route' => 'admin-users/paginator']); ?>
</nav>
<?php else: ?>
    <div class="alert alert-info"><?= $this->translate('Nothing Found'); ?></div>
<?php endif; ?>