<?php
$form->prepare();

$invalidInputs = $form->getInputFilter()->getInvalidInput();
?>

<?= $this->form()->openTag($form); ?>
    <div class="form-group">
        <?php
        $titleInput = $form->get('title');
        $titleInput->setAttribute('class', 'form-control' . (isset($invalidInputs['title']) ? ' is-invalid' : ''));
        ?>

        <?= $this->formLabel($titleInput) ?>
        <?= $this->formElement($titleInput) ?>
        <?= $this->formElementErrors($titleInput) ?>
    </div>

    <div class="form-group">
        <?php
        $textInput = $form->get('text');
        $textInput->setAttribute('class', 'form-control' . (isset($invalidInputs['text']) ? ' is-invalid' : ''));
        ?>

        <?= $this->formLabel($textInput) ?>
        <?= $this->formElement($textInput) ?>
        <?= $this->formElementErrors($textInput) ?>
    </div>

    <?= $this->formElement($form->get('id')) ?>

    <div class="form-group">
        <?php
        $submit = $form->get('submit');
        $submit->setAttribute('class', 'btn btn-primary');
        ?>

        <?= $this->formElement($submit) ?>
    </div>
<?= $this->form()->closeTag(); ?>
