<?= $this->doctype() ?>

<html lang="en">
<head>
    <meta charset="utf-8">
    <?= $this->headTitle('')->setSeparator(' - ')->setAutoEscape(false) ?>

    <?= $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ?>

    <?= $this->headLink()->prependStylesheet($this->basePath('css/bootstrap.min.css')); ?>
</head>
<body>
    <div class="container-fluid">
        <?= $this->content ?>
    </div>
</body>
</html>
