<h3 class="page-header"><?= $this->translate('Create Content') ?></h3>
<div class="row">
    <div class="col-lg-4 col-md-9">
        <?= $this->partial('content-manager/admin/content/partial/form') ?>
    </div>
</div>