<h3 class="page-header"><?= $this->translate('Content'); ?></h3>
<p>
    <a class="btn btn-secondary" href="<?= $this->url('admin-content/create'); ?>"><?= $this->translate('Create Content'); ?></a>
</p>
<?php if (count($content)): ?>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th><?= $this->translate('Title'); ?></th>
            <th><?= $this->translate('Text'); ?></th>
            <th><?= $this->translate('Created At'); ?></th>
            <th><?= $this->translate('Action'); ?></th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($content as $item): ?>
            <tr>
                <td><?= $item->getId() ?></td>
                <td><?= $item->getTitle() ?></td>
                <td><?= $item->getText() ?></td>
                <td><?= $item->getCreated()->format('d.m.Y H:i') ?></td>
                <td class="text-right">
                    <div class="btn-group btn-group-sm">
                        <a href="<?= $this->url('admin-content/edit', ['id' => $item->getId()]); ?>" title="<?= $this->translate('Edit'); ?>" class="btn btn-secondary">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a href="<?= $this->url('admin-content/delete', ['id' => $item->getId()]); ?>" class="btn btn-danger" title="<?= $this->translate('Delete'); ?>" onclick="return confirm('Are you sure?')">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </div>
                </td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
    <nav class="float-right">
        <?= $this->paginationControl($content,
            'Sliding',
            'layout/admin/partial/pagination', ['route' => 'admin-content/paginator']); ?>
    </nav>
<?php else: ?>
    <div class="alert alert-info"><?= $this->translate('Nothing Found'); ?></div>
<?php endif; ?>