<?php
$form->prepare();

$invalidInputs = $form->getInputFilter()->getInvalidInput();
?>

<?= $this->form()->openTag($form); ?>
    <div class="form-group">
        <?php
        $nameInput = $form->get('name');
        $nameInput->setAttribute('class', 'form-control' . (isset($invalidInputs['name']) ? ' is-invalid' : ''));
        ?>

        <?= $this->formLabel($nameInput) ?>
        <?= $this->formElement($nameInput) ?>
        <?= $this->formElementErrors($nameInput) ?>
    </div>

    <div class="form-group">
        <?php
        $identInput = $form->get('identifier');
        $identInput->setAttribute('class', 'form-control' . (isset($invalidInputs['identifier']) ? ' is-invalid' : ''));
        ?>

        <?= $this->formLabel($identInput) ?>
        <?= $this->formElement($identInput) ?>
        <?= $this->formElementErrors($identInput) ?>
    </div>

    <div class="form-group">
        <?php
        $descriptionInput = $form->get('description');
        $descriptionInput->setAttribute('class', 'form-control' . (isset($invalidInputs['identifier']) ? ' is-invalid' : ''));
        ?>

        <?= $this->formLabel($descriptionInput) ?>
        <?= $this->formElement($descriptionInput) ?>
        <?= $this->formElementErrors($descriptionInput) ?>
    </div>

    <div class="form-group">
        <?php
        $submit = $form->get('submit');
        $submit->setAttribute('class', 'btn btn-primary');
        ?>

        <?= $this->formElement($submit) ?>
    </div>
<?= $this->form()->closeTag(); ?>
