<?php
$form->prepare();

$invalidInputs = $form->getInputFilter()->getInvalidInput();
?>

<?= $this->form()->openTag($form); ?>
    <div class="form-group">
        <?php
        $parentSelect = $form->get('parent');
        $parentSelect->setAttribute('class', 'form-control' . (isset($invalidInputs['parent']) ? ' is-invalid' : ''));
        ?>

        <?= $this->formLabel($parentSelect) ?>
        <?= $this->formElement($parentSelect) ?>
        <?= $this->formElementErrors($parentSelect) ?>
    </div>

    <div class="form-group">
        <?php
        $titleInput = $form->get('title');
        $titleInput->setAttribute('class', 'form-control' . (isset($invalidInputs['title']) ? ' is-invalid' : ''));
        ?>

        <?= $this->formLabel($titleInput) ?>
        <?= $this->formElement($titleInput) ?>
        <?= $this->formElementErrors($titleInput) ?>
    </div>

    <div class="form-group">
        <?php
        $aliasInput = $form->get('alias');
        $aliasInput->setAttribute('class', 'form-control' . (isset($invalidInputs['alias']) ? ' is-invalid' : ''));
        ?>

        <?= $this->formLabel($aliasInput) ?>
        <?= $this->formElement($aliasInput) ?>
        <?= $this->formElementErrors($aliasInput) ?>
    </div>

    <div class="form-group">
        <?php
        $routeInput = $form->get('route');
        $routeInput->setAttribute('class', 'form-control' . (isset($invalidInputs['route']) ? ' is-invalid' : ''));
        ?>

        <?= $this->formLabel($routeInput) ?>
        <?= $this->formElement($routeInput) ?>
        <?= $this->formElementErrors($routeInput) ?>
    </div>

    <?= $this->formElement($form->get('id')) ?>

    <div class="form-group">
        <?php
        $submit = $form->get('submit');
        $submit->setAttribute('class', 'btn btn-primary');
        ?>

        <?= $this->formElement($submit) ?>
    </div>
<?= $this->form()->closeTag(); ?>
